@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #E1E1E1;
    font-family: Inter;
}

.intro-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav-link {
    color: #6B6B6B;
    text-decoration: none;
    font-size: 23px;
}

.intro-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.intro-heading {
    font-size: 90px;
    font-weight: 900;
    color: #393939;
    line-height: 90px;
}

.intro-left {
    flex-shrink: 0;
}

.intro-text {
    color: #6B6B6B;
    font-size: 20px;
    font-weight: 500;
}

.intro-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.intro-btn {
    color: #6B6B6B;
    font-size: 24px;
    text-decoration: none;
    background-color: #D9D9D9;
    padding: 25px 60px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: inset 0 4px 4px rgb(0, 0, 0, 0.25), 0 4px 4px rgb(0, 0, 0, 0.25);
}

.intro_left::before {
    content: "Air \A Pods  \A Max";
    white-space: pre;
    position: absolute;
    color: #393939;
    font-size: 250px;
    font-weight: 900;
    line-height: 200px;
    z-index: -1;
    left: 0;
    background: linear-gradient(0deg, #6B6B6B11, #6B6B6B33, #6B6B6B32, #6B6B6B10);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-fixed-img {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.burger {
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.burger span {
    height: 4px;
    width: 100%;
    background: #393939;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .intro-fixed-img {
        display: none;
    }

    .intro-container {
        flex-direction: column;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #D9D9D9;
        z-index: 10;
        padding: 150px 15px;
        transform: translateX(-100%);
        transition: all .3s ease 0;
    }

    .nav-list {
        flex-direction: column;
    }

    .intro_left::before {
        display: none;
    }

    .burger {
        display: flex;
    }

    .nav.clicked {
        transform: translateX(0);
    }
}